<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pt.uninova.s4h.citizenhub">

    <uses-feature
            android:name="android.hardware.bluetooth_le"
            android:required="true"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- needed only for scanning -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- for Android 11 and lower -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- for Android 12 and above -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:name="android.hardware.bluetooth"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>

            <category android:name="android.intent.category.BROWSABLE"/>

            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>

            <category android:name="android.intent.category.APP_BROWSER"/>

            <data android:scheme="https"/>
        </intent>
    </queries>

    <application
            android:name=".CitizenHubApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/Theme.Citizen">

        <activity
                android:name=".ui.lobby.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".MainActivity"
                android:launchMode="singleTop"
        />

        <activity
                android:name=".ui.lobby.SlideActivity"
                android:launchMode="singleTop"
        />


        <activity
                android:name=".ui.lobby.LobbyActivity"
                android:launchMode="singleTop"
        >

        </activity>

        <service
                android:name=".service.CitizenHubService"
                android:exported="false"/>
    </application>

</manifest>